@import "tailwindcss";


.shadow-card {
  box-shadow: 0px 1px 0 var(--color-cardBorder);
}
.shadow-card:hover {
  /* background-color:  var(--color-cardShadow); */
  box-shadow: 0px 3px 0 var(--color-cardBorder);

  @apply -translate-y-0.5
}
:root {
  --color-cardBg: oklch(100% 0.00011 271.152);
  --color-cardShadow: oklch(0.22 0.02 280);
  --color-cardBorder:oklch(0.22 0.02 280);
  --color-cardText:oklch(0.22 0.02 280);
}

.theme-white {
--color-cardBg: oklch(100% 0.00011 271.152);
  --color-cardShadow: oklch(94.309% 0.00011 271.152);
}
.theme-green {
  --color-cardBg: oklch(92.838% 0.13853 141.968);
  --color-cardShadow: oklch(0.80 0.14 142);
}

.theme-lime {
  --color-cardBg: oklch(0.97 0.10 122);
  --color-cardShadow: oklch(0.83 0.10 122);
}

.theme-sky {
  --color-cardBg: oklch(94.583% 0.07843 183.148);
  --color-cardShadow: oklch(0.80 0.08 182);
}

.theme-purple {
  --color-cardBg: oklch(81.964% 0.10084 298.354);
  --color-cardShadow: oklch(0.68 0.10 298);
}

.theme-orange {
  --color-cardBg: oklch(0.85 0.09 7);
  --color-cardShadow: oklch(0.70 0.09 7);
}

.theme-yellow {
  --color-cardBg: oklch(0.91 0.08 77);
  --color-cardShadow: oklch(0.77 0.08 77);
}

.theme-mint {
  --color-cardBg: oklch(0.93 0.13 147);
  --color-cardShadow: oklch(0.78 0.13 147);
}

.theme-indigo {
  --color-cardBg: oklch(0.84 0.08 258);
  --color-cardShadow: oklch(0.70 0.08 258);
}

.theme-pink {
  --color-cardBg: oklch(0.84 0.14 330);
  --color-cardShadow: oklch(0.70 0.14 330);
}


